.infoText {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Microsoft YaHei";
    padding-top: 5vh;
}

.lab {
    margin-top: 1.5em;
}

.label_Before {
    font-size: 1.5em;
}

.text_label {
    margin-left: 1em;
    font-size: 1.5em;
}