.tabbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    background-color: rgb(49, 49, 49);
}

.tabbar-logo-text {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.tabbar-logo-text .logo-img {
    width: 3.3em;
    height: 3.3em;
    margin-bottom: 0;
}

.tabbar-logo-text .tabbar-text {
    margin-left: 20px;
    font-size: 1.5em;
    color: #eee;
    /* line-height: 1em; */
}

.tabbar .el-menu-item {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.tabbar .el-menu-item.is-active {
    background: rgb(11, 185, 118) !important;
    border: none !important;
}


/* 文字 */

.main-tabbar {
    /* margin-left: 2em; */
    font-size: 3em;
}

.main-tabbar .dd {
    /* padding-left: 1em; */
    /* padding-right: 0.9em; */
    font-family: sans-serif;
    font-size: 0.35em;
}

.main-tabbar .aa {
    /* padding-left: 0.9em; */
    /* padding-right: 0.9em; */
    font-size: 0.35em;
    font-family: sans-serif;
}

.main-tabbar .bb {
    /* margin-left: 20em; */
    font-size: 0.35em;
    font-family: sans-serif;
}

.main-tabbar .cc {
    font-family: sans-serif;
    font-size: 0.35em;
}


/* 头像以及下拉选择框 */

.tabbar-avatar {
    width: 100px;
    /* justify-content: flex-end; */
    display: flex;
    align-items: center;
    margin-right: 30px;
}


/* 头像 */

.avatar-img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
}


/* 下拉选择框 */

.el-dropdown-link {
    cursor: pointer;
    color: #ffffff;
}

.el-icon-arrow-down {
    font-size: 12px;
}


/* 关闭侧边栏 */

.icon_open {
    /* width: 20px; */
    /* height: 10px; */
    padding-right: 10px;
    color: white;
    font-size: 1.5em;
}